body{
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    /* grid-template-columns: 150px 300px 200px ; */
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    /* column-gap: 20px;
    row-gap: 20px; */
    gap: 20px;
}
.grid-item {
    background-color: #67f2d1;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }